<%= form_for @profile, id: "form1" do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@profile.errors.count, "error") %> prohibited
        this profile from being saved:
      </h2>
      <ul>
        <% @profile.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :"first name" %><br>
    <%= f.text_field :fname %>
  </p>
 
  <p>
    <%= f.label :"Last Name" %><br>
    <%= f.text_field :lname %>
  </p>
  <p>
    <%= f.label :"Address" %><br>
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :"Image" %><br>
    <%= f.file_field :image, id: "userimage" %>
  </p>
  <img id="preview" src="#" alt="your image" />

   <p>
    <%= f.submit :save %>
  </p>

  <%= link_to 'Ajax Submit', '#-', id: "ajaxsubmit" %>
<% end %>
