
<%= form_for @profile, id:"form1", runat:"server" do |f| %>
  <p>
    <%= f.label :"first name" %><br>
    <%= f.text_field :fname %>
  </p>
 
  <p>
    <%= f.label :"Last Name" %><br>
    <%= f.text_field :lname %>
  </p>
  <p>
    <%= f.label :"Address" %><br>
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :"Image" %><br>
    <%= f.file_field :image, id: "userimage" %>
  </p>
  <img id="preview" src="#" alt="your image" />

   <p>
    <%= f.submit :save %>
  </p>
 <%= link_to 'Ajax Submit', '#-', id: "ajaxsubmit" %>  
<% end %>
<!-- <button id= "ajaxsubmit" > ajax </button> -->
