<%= form_for @profile do |f| %>
 
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@profile.errors.count, "error") %> prohibited
        this profile from being saved:
      </h2>
      <ul>
        <% @profile.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :"first name" %><br>
    <%= f.text_field :fname, class: 'form-control' %>
  </p>
 
  <p>
    <%= f.label :"Last Name" %><br>
    <%= f.text_field :lname, class: 'form-control' %>
  </p>

    <%= f.label :"Address" %><br>
    <%= f.text_field :address, class: 'form-control' %>
  </p>
   <p>
    <%= f.submit :save, class: 'btn btn-primary form-control' %>
  </p>
 
<% end %>