<p>
  <strong>First name:</strong>
  <%= @profile.fname %>
</p>
 
<p>
  <strong>Last name:</strong>
  <%= @profile.lname %>
</p>
<p>
  <strong>Address:</strong>
  <%= @profile.address %>
</p>
 <td><%= link_to 'Edit', edit_profile_path(@profile) %></td>
 <br>
 <%= link_to 'Back', posts_path %>