<%= comment.content %>
<div class="actions float-right">
  <%= link_to 'Edit', edit_comment_path(comment), remote: true, 'data-toggle': "modal", 'data-target': "#modal-comment"%> |
  <%= link_to 'Destroy', comment_path(comment), method: :delete, remote: true, data: { confirm: 'Are you sure?' } %> |
  <span id="like-comment-<%= comment.id %>">
    <%= render partial: "comment_like", locals: {comment: comment} %>
  </span>
</div>