<%= post.title %>
<div class="actions float-right">
  <%= link_to 'comment', post_comments_path(post.id), remote:true %>

  (<%= post.comments.count %>)|
  <% if post.user.id == current_user.id %>
    <%= link_to 'edit', edit_post_path(post), remote: true %> | 
    <%= link_to 'delete', post_path(post), method: "DELETE", remote: true, data: {confirm: "Are you sure you want to delete?"} %> |
  <% end %>

  <span id="like-post-<%= post.id %>">
    <%= render partial: "post_like", locals: {post: post} %>
  </span>
</div>

<div class="comments hide" id="post-<%= post.id %>-comments">  
</div>
